@font-face {
  font-family: 'ara';
  src:  url('https://araconsulting.co.in/Fonts/fonts/ara.eot?qbns8');
  src:  url('https://araconsulting.co.in/Fonts/fonts/ara.eot?qbns8#iefix') format('embedded-opentype'),
    url('https://araconsulting.co.in/Fonts/fonts/ara.ttf?qbns8') format('truetype'),
    url('https://araconsulting.co.in/Fonts/fonts/ara.woff?qbns8') format('woff'),
    url('https://araconsulting.co.in/Fonts/fonts/ara.svg?qbns8#ara') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ara' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hatimage2vector-1:before {
  content: "\e900";
}
