
@font-face {
  font-family: 'FontAwesome';
  src: url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://Tiger85147.github.io/Fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}