
@media screen and (max-width: 1920px) and (min-width: 800px){
.titlebox{
  padding-left: 13vw;
  background-image:url('https://Tiger85147.github.io/Misc/diamonds%20crop.jpg');
  background-size: cover;
}

.footer{
  background-image:url('https://Tiger85147.github.io/Misc/diamonds%20crop.jpg');
  background-size: cover;
}

.icons{
  width: 3vw;
  height: 3vw;
  padding: 0.1vw;
  margin: 0.1vw;
}

.foottext{
  font-family:'Libre Franklin', serif;
  font-size: 1.5vw;
  text-align: center;
  padding-left: 50vw;
}
}

@media screen and (max-width: 800px){

.titlebox{
  padding-left: 5vw;
  background-image:url('https://Tiger85147.github.io/diamonds%20crop.jpg');
  background-size: cover;
}

.footer{
  background-image:url('https://Tiger85147.github.io/diamonds%20crop.jpg');
  background-size: cover;
}

.icons{
  width: 40px;
  height: 40px;
  padding: 1px;
  margin: 1px;
}

.foottext{
  font-family:'Libre Franklin', serif;
  font-size: 15px;
  padding-left: 30vw;
}
}