
@media screen and (max-width: 1920px) and (min-width: 800px){
.titlebox{
  padding-left: 13vw;
  background-image:url('https://Tiger85147.github.io/Misc/diamonds%20crop.jpg');
  background-size: cover;
}
}

@media screen and (max-width: 800px){

.titlebox{
  padding-left: 5vw;
  background-image:url('https://Tiger85147.github.io/Misc/diamonds%20crop.jpg');
  background-size: cover;
}
}