
.titlebox{
  background-image: url("https://Tiger85147.github.io/Misc/ara constellation.jpg");
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 1920px) and (min-width: 800px){
.titlebox{
  padding-left: 10%;
  background-position: 50% 50%;
}
}

@media screen and (max-width: 800px){

.titlebox{
  padding-left: 5%;
  background-position: 10% 10%;
}
}